
@if (Context.User.Identity.IsAuthenticated == false)
{
    <a asp-controller="Empleados" asp-action="EmpoleadosDepartamento" class="nav-link text-dark">Log In</a>
}
else
{
 @await Component.InvokeAsync("MenuDepartamentos")

}
